CONFIG=./config
TZ=UTC
HTTP_PORT=8000
HTTPS_PORT=8443
PUBLIC_URL=http://localhost:8000
DOCKER_HOST_ADDRESS=127.0.0.1
JVB_ADVERTISE_IP=127.0.0.1
JVB_PORT=10000
JVB_TCP_PORT=4443
ENABLE_AUTH=0
ENABLE_GUESTS=1
ENABLE_RECORDING=1
ENABLE_LIVESTREAMING=0
ENABLE_FILE_RECORDING_SERVICE=1
ENABLE_SHARED_DOCUMENT=0
JIBRI_RECORDING_DIR=/recordings
JIBRI_FINALIZE_RECORDING_SCRIPT_PATH=/config/scripts/finalize.sh
